black==24.8.0
fastapi==0.112.2
requests==2.32.3
aiohttp==3.10.5
uvicorn==0.30.6
gunicorn==23.0.0
prometheus_client==0.20.0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytest==8.3.2
pytest-asyncio==0.24.0
SQLAlchemy[asyncio]==2.0.32
alembic==1.13.2
psycopg2-binary==2.9.9
asyncpg==0.29.0
openai==1.42.0
uuid7==0.1.0
websockets==12.0
stytch==11.4.1
mypy==1.11.2
pylint==3.2.7
starlette==0.38.2
mnemonic==0.21
posthog==3.6.5
aiocache==0.12.2
