fastapi==0.112.2
requests==2.32.3
uvicorn==0.30.6
gunicorn==23.0.0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytest==8.3.2
pytest-asyncio==0.24.0
SQLAlchemy[asyncio]==2.0.32
alembic==1.13.2
psycopg2-binary==2.9.9
asyncpg==0.29.0
openai==1.42.0
uuid7==0.1.0
